<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- @see https://github.com/Microsoft/artifacts-credprovider -->
  <packageSources>
    <add key="SomeNuGetServer" value="" />
  </packageSources>
  <packageSourceCredentials>
    <SomeNuGetServer>
      <add key="Username" value="" />
      <add key="ClearTextPassword" value="" />
    </SomeNuGetServer>
  </packageSourceCredentials>
  <config>
    <add key="repositoryPath" value="./packages" />
    <add key="globalPackagesFolder" value="./packages" />
  </config>
  <settings>
    <repositoryPath>./packages</repositoryPath>
  </settings>
</configuration>
